<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="icon" href="assets/icons/Facebook Post 940x788 px.png">
    <title>Nicdet</title> 

</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="index.html" class="logo">
                        <img src="../assets/icons/Facebook Post 940x788 px.png" alt="">
                        <span >Nicdet Software</span>
                    </a>
                </li>
                <li>
                    <a href="index.html" class="navbar-item-hover">
                        <img class="fas fa-maintain" src="../assets/icons/briefcase-free-icon-font.png">
                        <span class="nav-item">Mantenimiento</span>
                    </a>
                </li>
                <li>
                    <a href="inventario.html" class="navbar-item-hover">
                        <img class="fas fa-inventory" src="../assets/icons/database-free-icon-font.png">
                        <span class="nav-item">Inventario</span>
                    </a>
                </li>
                <li>
                    <a href="equipos.html" class="navbar-item-hover">
                        <img class="fas fa-equip" src="../assets/icons/bolt-free-icon-font.png">
                        <span class="nav-item">Equipos</span>
                    </a>
                </li>
            
                <li>
                    <a href="#" class="navbar-item-hover">
                        <img class="fas fa-bitacora" src="../assets/icons/search-alt-free-icon-font.png">
                        <span class="nav-item">Bitacoras</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="navbar-item-hover">
                        <img class="fas fa-reg" src="../assets/icons/clipboard-list-free-icon-font.png">
                        <span class="nav-item">Registros</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="navbar-item-hover">
                        <img class="fas fa-help" src="../assets/icons/interrogation-free-icon-font.png">
                        <span class="nav-item">Ayuda</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="navbar-item-hover">
                        <img class="fas fa-settings" src="../assets/icons/settings-free-icon-font.png">
                        <span class="nav-item">Configuracion</span>
                    </a>
                </li>
                
                

                <li>
                    <a href="#" class="logout">
                        <img class="fas fa-logout" src="../assets/icons/sign-out-alt-free-icon-font.png">
                        <span class="nav-item">Logout</span>
                    </a>
                </li>
    
    
    
    
    
            </ul>
    
    
    
    
    
    
        </nav>

        <div class="user-login">Ivan Lopez </div>
        <div class="dashboard-container">
            <div class="calendar-container">
                <div id="header"></div>
                <div id="weekdays">
                    <div>Domingo</div>
                    <div>Lunes</div>
                    <div>Martes</div>
                    <div>Miecoles</div>
                    <div>Jueves</div>
                    <div>Viernes</div>
                    <div>Sabado</div>
                </div>
                <div id="calendar"></div>

                
            </div>
           
    
        </div>
        
    </div>
    

</body>
<script src="../components/calendarEvent.js"></script>

</html>