<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="icon" href="assets/icons/Facebook Post 940x788 px.png">
    <title>N i c d e t</title> 

</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#" class="logo">
                        <img src="../assets/icons/Facebook Post 940x788 px.png" alt="">
                        <span >Nicdet Software</span>
                    </a>
                </li>
                <li>
                    <a href="index.html" class="navbar-item-hover">
                        <img class="fas fa-maintain" src="../assets/icons/briefcase-free-icon-font.png">
                        <span class="nav-item">Mantenimiento</span>
                    </a>
                </li>
                <li>
                    <a href="inventario.html" class="navbar-item-hover">
                        <img class="fas fa-inventory" src="../assets/icons/database-free-icon-font.png">
                        <span class="nav-item">Inventario</span>
                    </a>
                </li>
                <li>
                    <a href="calendar.html" class="navbar-item-hover">
                        <img class="fas fa-equip" src="../assets/icons/bolt-free-icon-font.png">
                        <span class="nav-item">Calendario</span>
                    </a>
                </li>
            
                <li>
                    <a href="#" class="navbar-item-hover">
                        <img class="fas fa-bitacora" src="../assets/icons/search-alt-free-icon-font.png">
                        <span class="nav-item">Bitacoras</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="navbar-item-hover">
                        <img class="fas fa-reg" src="../assets/icons/clipboard-list-free-icon-font.png">
                        <span class="nav-item">Registros</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="navbar-item-hover">
                        <img class="fas fa-help" src="../assets/icons/interrogation-free-icon-font.png">
                        <span class="nav-item">Ayuda</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="navbar-item-hover">
                        <img class="fas fa-settings" src="../assets/icons/settings-free-icon-font.png">
                        <span class="nav-item">Configuracion</span>
                    </a>
                </li>
                
                

                <li>
                    <a href="#" class="logout">
                        <img class="fas fa-logout" src="../assets/icons/sign-out-alt-free-icon-font.png">
                        <span class="nav-item">Logout</span>
                    </a>
                </li>
    
    
    
    
    
            </ul>
    
    
    
    
    
    
        </nav>
        <div class="user-login">Ivan Lopez </div>
        <div class="dashboard-container">

            <div>
                <h3 style="margin-left: 12px;">Inventario de producto </h1>
            </div>
        
            <div class="menubar">
                
                <ul>
                    <li>
                        <span class="drop-btn">Laboratorio Nanotecnologia  <img src="../assets/icons/angle-small-down-free-icon-font.png" alt=""></span>
                    </li>
                    <li>
                        <button ><img class="img-btn" src="../assets/icons/plus-free-icon-font.png" alt=""></button>
                    </li>
                    <li>
                        <input type="checkbox" name="checkbox" id="edit-checkbox" value="editable"><img class="style-btn"  src="../assets/icons/edit-free-icon-font (1).png" alt="">
                    </li>
    
                    <li>
                        <button><img class="img-btn"  src="../assets/icons/search-free-icon-font.png" alt=""></button>
                    </li>
                    <li>
                        <a href="#"><img class="style-btn "  src="../assets/icons/archive-free-icon-font.png" alt=""></a>
                    </li>
                    <li>
                        <button><img class="img-btn"  src="../assets/icons/cloud-upload-free-icon-font.png" alt=""></button>
                    </li>
                    <li>
                        <button><img class="img-btn"  src="../assets/icons/print-free-icon-font.png" alt=""></button>
                    </li>
                </ul>


            </div>

        
            <div class="table-container">
                <table id="table">
                    <thead>
                        <tr >
                            <th></th>
                            <th >Producto</th>
                            <th >Area</th>
                            <th>Clasificacion</th>
                            <th>Cantidad/Contenido</th>
                            <th>Costo</th>
                            <th>Fecha de orden</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td width="30px"><img src="../assets/icons/menu-dots-free-icon-font.png" alt="" class="menu-dots-icon"></td>
                            <td width="140px">Producto 1</td>
                            <td width="120px">Nanotecnologia</td>
                            <td>Toxico</td>
                            <td> 4/300ml </td>
                            <td>$2400</td>
                            <td>05/12/2022</td>
                            <td> <button class="delete"> Delete</button></td>
                        </tr>
                        <tr>
                            <td width="30px"><img src="../assets/icons/menu-dots-free-icon-font.png" alt="" class="menu-dots-icon"></td>
                            <td width="140px">Producto 2</td>
                            <td width="120px">Nanotecnologia</td>
                            <td>Toxico</td>
                            <td> 4/300ml </td>
                            <td>$2400</td>
                            <td>05/12/2022</td>
                            <td> <button class="delete"> Delete</button></td>
                        </tr>
                        <tr>
                            <td width="30px"><img src="../assets/icons/menu-dots-free-icon-font.png" alt="" class="menu-dots-icon"></td>
                            <td width="140px">Producto 3</td>
                            <td width="120px">Nanotecnologia</td>
                            <td>Toxico</td>
                            <td> 4/300ml </td>
                            <td>$2400</td>
                            <td>05/12/2022</td>
                            <td> <button class="delete"> Delete</button></td>
                        </tr>
                        <tr>
                            <td width="30px"><img src="../assets/icons/menu-dots-free-icon-font.png" alt="" class="menu-dots-icon"></td>
                            <td width="140px">Producto 4</td>
                            <td width="120px">Nanotecnologia</td>
                            <td>Toxico</td>
                            <td> 4/300ml </td>
                            <td>$2400</td>
                            <td>05/12/2022</td>
                            <td> <button class="delete"> Delete</button></td>
                        </tr>
                        <tr>
                            <td width="30px"><img src="../assets/icons/menu-dots-free-icon-font.png" alt="" class="menu-dots-icon"></td>
                            <td width="140px">Producto 5</td>
                            <td width="120px">Nanotecnologia</td>
                            <td>Toxico</td>
                            <td> 4/300ml </td>
                            <td>$2400</td>
                            <td>05/12/2022</td>
                            <td> <button class="delete"> Delete</button></td>
                        </tr>
                        <tr>
                            <td width="30px"><img src="../assets/icons/menu-dots-free-icon-font.png" alt="" class="menu-dots-icon"></td>
                            <td width="140px">Producto 6</td>
                            <td width="120px">Nanotecnologia</td>
                            <td>Toxico</td>
                            <td> 4/300ml </td>
                            <td>$2400</td>
                            <td>05/12/2022</td>
                            <td> <button class="delete"> Delete</button></td>
                        </tr>
                           
                        
                         
                        

                    </tbody>

                  

                </table>
                <script>
                    let table = document.getElementById("table");
                    let cells = table.getElementsByTagName('td');
                    let row = document.getElementById("row");

                    for (let i = 0; i < cells.length ; i++) {
                        cellrestrinction = i % 8;
                        console.log(cellrestrinction);
                        if (cellrestrinction != 7  & cellrestrinction != 0) {
                            cells[i].onclick = function () {
                            if ( this.hasAttribute("data-clicked")) {
                                return;
                            }
                            this.setAttribute("data-clicked","yes");
                            this.setAttribute("data-text", this.innerHTML);



                            let input = document.createElement("input");
                            input.setAttribute("type", "text");
                            input.value = this.innerHTML;
                           
                            input.style.border = "1px solid";
                            input.style.fontFamily = "Montserrat";
                           
            
                            input.onblur = function () {
                                let td = input.parentElement;
                                let originaltext = input.parentElement.getAttribute("data-text");
                                let currenttext = this.value;

                                if (originaltext != currenttext) {
                                    td.removeAttribute("data-clicked");
                                    td.removeAttribute("data-text");
                                    td.innerHTML = currenttext;
                                    td.style.cssText = "padding: 2px";
                                    console.log(originaltext + "is changed to" + currenttext);   
                                } else {
                                    td.removeAttribute("data-clicked");
                                    td.removeAttribute("data-text");
                                    td.innerHTML = originaltext;
                                    td.style.cssText = "padding: 2px";
                                    console.log("no changes made")

                                }
                            }

                            input.onkeypress = function() {
                                if(event.keyCode == 13){
                                    this.blur();
                                }

                            }
                            this.innerHTML = '';
                            this.style.cssText = 'padding: 0px 0px;'
                            this.append(input);
                            this.firstElementChild.select();
                        }
                            

                        } 
                        
                    }
                    
                </script>

            </div>

            <div class="add-btn-container">
                <button>Añadir Producto</button>
            </div>
    


        </div>
        
    </div>
    

</body>

</html>